.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.z-10 {
  z-index: 10
}

.box-border {
  box-sizing: border-box
}

.block {
  display: block
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.list-disc {
  list-style-type: disc
}

.border {
  border-width: 1px
}

.border-solid {
  border-style: solid
}

.border-transparent {
  border-color: transparent
}

.border-\[var\(--card-border-color\)\] {
  border-color: var(--card-border-color)
}

.border-opacity-0 {
  --tw-border-opacity: 0
}

.overline {
  text-decoration-line: overline
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.hover\:cursor-pointer:hover {
  cursor: pointer
}

.hover\:border-\[var\(--card-border-color\)\]:hover {
  border-color: var(--card-border-color)
}

.hover\:opacity-75:hover {
  opacity: 0.75
}

.hover\:opacity-80:hover {
  opacity: 0.8
}

@media (min-width: 640px) {
  .sm\:hidden {
    display: none
  }
}
